 <div class="col-xs-4">
     <h1><%=@pelicula.nombre%></h1> 
     <img src="<%= @pelicula.poster.url%>" ></img>
 </div>
 <div class="col-xs-4">
 <p><%=@pelicula.descripcion%></p></div>

<%if socio_signed_in?%>

    <%if es_admin?%>
        <%end%>
<%end%>

