

 <script type="text/javascript">
 
    $(window).load(function(){
        $('#myModal').modal('show');
    });
    
</script>
  
</script>

<div class="jumbotron" onload="cargar();">
  <h1>Cinemas</h1>
  <h3>Seleccione su ciudad:</h3>
        <%@ciudads.each do |cid|%>
      
      <li><%=link_to cid.nombre,cid%></li>
      
      <%end%>

</div>

<!-- Large modal -->

<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg panel">
    <div class="modal-content">
<!-- Logica del el modal -->

<div class="container">
  <div class="row">
    
    <h1><b>Elija su ciudad</b></h1>
    <br>
    <br>
    <p align = "center">
    <ul>
      <%@ciudads.each do |cid|%> 
      
      <li>
      <%=link_to cid do %>
       <i class="glyphicon glyphicon-globe"> </i><%=cid.nombre%>
      </li>
        <%end%>
        
      <%end%>
     <br>
     </p>
</ul>
  </div>
</div>


    </div>
  </div>
</div>





