<h1>Informacion General de la Sede</h1>
        <h3>Nombre:<%=@sede.nombre%></h3>
        <h3>Telefono:<%=@sede.telefono%></h3>
        <h3>Direccion:<%=@sede.direccion%></h3>
        <h3>Ciudad:<%=@sede.ciudad.nombre%></h3>