<div id="footer">
    <div class="container">
        <div class="row">
            <h3 class="footertext">Acerca de nosotros:</h3>
            <br>
              <div class="col-md-4">
                <center>
                  <img src="http://oi60.tinypic.com/w8lycl.jpg" class="img-circle" alt="the-brains">
                  <br>
                  <h4 class="footertext">Programmers</h4>
                  <p class="footertext">Emmanuel Velez<br>
                  Lixander Cadavid<br>
                  Alexis Rodriguez<br>
                  Samuel Arenas<br>
                  Juan Zuluaga<br>
                 
                </center>
              </div>
              <div class="col-md-4">
                <center>
                  <img src="http://oi60.tinypic.com/2z7enpc.jpg" class="img-circle" alt="...">
                  <br>
                  <h4 class="footertext">Artist</h4>
                  <p class="footertext">Todas las imágenes acá son manejadas por el grupo mencionado.<br>
                </center>
              </div>
              <div class="col-md-4">
                <center>
                  <img src="http://oi61.tinypic.com/307n6ux.jpg" class="img-circle" alt="...">
                  <br>
                  <h4 class="footertext">Designer</h4>
                  <p class="footertext">Este bello sitio y sus componentes están disponibles gracias a este grupo.<br>
                </center>
              </div>
            </div>
            <div class="row">
            <p><center><a href="#">Contact Stuff Here</a> <p class="footertext">Copyright 2015</p></center></p>
        </div>
    </div>
</div>